<div class="container login-page">
  <a href='#' page='nav'>home</a>
  
  <form class="login-form">
    {{> Input label="login" }}
    {{> Input label="password" }}
    {{> Button label="Sign in" type="primary" }}
    {{> Button label="Sign uo" type="link" }}
    {{test}}
  </form>
</div>