:root {
  --main-color: rgb(51, 105, 243);
  --secondary-color: rgb(255, 255, 255);
  --border-color: rgba(234, 234, 234);
  --primary-text-color: rgb(30, 30, 30);
  --secondary-text-color: rgb(153, 153, 153);
  --error-color: rgb(255, 47, 47);
  --shadow-main: 0 0 6px 0 rgba(0, 0, 0, 0.24);
  --highlight-color: rgb(228, 237, 253);
  --text-base-weight: 400;
  --text-base-line-height: 1.2;
  --text-xs-font-size: 11px;
  --text-s-font-size: 13px;
  --text-m-font-size: 14px;
  --text-l-font-size: 16px;
  --text-xl-font-size: 20px;
}
