{
  "trailingComma": "es5",
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "always",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "strict",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto"
}
