.button {
  border: none;
  border-radius: 8px;
  color: var(--secondary-color);
  font-size: var(--text-m-font-size);
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.87;
  }
}

.button__primary {
  background-color: var(--main-color);
  width: 280px;
  line-height: 37px;
}

.button__send {
  background-color: var(--main-color);
  flex-basis: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  color: var(--border-color);
}

.button__logout {
  background-color: inherit;
  flex-basis: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  color: var(--border-color);
}


