.viForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 50px 30px 30px;
  min-width: 340px;
  box-shadow: var(--shadow-main);
  background-color: var(--secondary-color);
}

.viForm__body,
.viForm__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.viForm__body {
  margin-bottom: 140px;
}
