<main class='navigatePage basePage'>
  <ol class='navigatePage__list'>
    <li class='navigatePage__element'><a href='#' data-page='login'>Авторизация</a></li>
    <li class='navigatePage__element'><a href='#' data-page='signIn'>Регистрация</a></li>
    <li class='navigatePage__element'><a href='#' data-page='messenger'>Страница мессенджера</a></li>
    <li class='navigatePage__element'><a href='#' data-page='profile'>Страница профиля</a></li>
    <li class='navigatePage__element'><a href='#' data-page='changePassword'>Страницы смены пароля</a></li>
    <li class='navigatePage__element'><a href='#' data-page='notFound'>404</a></li>
    <li class='navigatePage__element'><a href='#' data-page='serverError'>500</a></li>
    <li class='navigatePage__element'><a href='#' data-page='addModal'>Модалка добавления пользователя</a></li>
    <li class='navigatePage__element'><a href='#' data-page='avatarModal'>Модалка редактирования аватарки</a></li>
  </ol>
</main>