.navigatePage {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}


.navigatePage__list {
  margin: 8px;
  padding-left: 0;
}

.navigatePage__element {
  font-size: 22px;
  margin: 8px 0;

  a {
    text-decoration: none;
    color: var(--main-color);

    &:hover {
      text-decoration: underline;
    }
  }
}
