<main class='navigatePage basePage'>
  <ol class='navigatePage__list'>
    <li class='navigatePage__element'><a href='#' data-page='login'>Авторизация+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='signIn'>Регистрация+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='messenger'>Страница мессенджера</a></li>
    <li class='navigatePage__element'><a href='#' data-page='messengerWithModal'>Добавить удалить пользователя</a></li>
    <li class='navigatePage__element'><a href='#' data-page='profile'>Профиль+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='profileEditData'>Изменить данные+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='profileEditPassword'>Изменить пароль+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='profileWithAvatarModal'>Загрузить новый аватар+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='notFound'>404+</a></li>
    <li class='navigatePage__element'><a href='#' data-page='serverError'>500+</a></li>
  </ol>
</main>