<ul class="navigate">
  <li><a href='#' data-page='login'>Login</a></li>
  <li><a href='#' data-page='signIn'>signInPage</a></li>
  <li><a href='#' data-page='messenger'>messengerPage</a></li>
  <li><a href='#' data-page='profile'>profilePage</a></li>
  <li><a href='#' data-page='changePassword'>changePasswordPage</a></li>
  <li><a href='#' data-page='notFound'>notFoundPage</a></li>
  <li><a href='#' data-page='serverError'>serverErrorPage</a></li>
  <li><a href='#' data-page='addModal'>addModalComponent</a></li>
  <li><a href='#' data-page='serverError'>avatarModalComponent</a></li>
</ul>