.profilePage {
  display: flex;
  align-items: center;
  height: 100vh;
}

.profilePage__back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100px;
  border: 1px solid black;
  height: 100%;
}

.profilePage__userDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}