<main class="loginPage basePage vertical">
  {{#>Form name=name}}
    {{#*inline "formBody"}}
      {{#each form as |data|}}
        {{> Input
          label=data.placeHolder
          name=data.name
          error=data.error
        }}
      {{/each}}
    {{/inline}}

    {{#*inline "formActions"}}
      {{> Button label="Sign in" type="primary" }}

      <a href='#' data-page='signIn' class='home homeButton'>
        Зарегистрироваться
      </a>
    {{/inline}}
  {{/Form}}
</main>
