<main class="loginPage basePage vertical">
  {{#>Form}}
    {{>FormBody form=form}}

    {{#*inline "FormActions"}}
      {{> Button label="Авторизоваться" type="primary" }}

      <a href="#" data-page="signIn" class="home homeButton">
        Нет аккаунта?
      </a>
    {{/inline}}
  {{/Form}}
  {{> Button label="тест-лэйбл" type="primary" }}
</main>

