.messengerPage {
  display: flex;
  height: 100vh;
}

.messengerPage__aside {
  flex-basis: 440px;
  padding-top: 20px;
  border-right: 2px solid var(--border-color);
  align-self: stretch;
}

.chatList__header {
  position: relative;
  padding: 0 10px;
  text-align: right;

  a {
    font-size: 14px;
    color: var(--secondary-text-color);
  }
}

.messengerPage__search {
  text-align: center;
}

.messengerPage__search + .viInput__placeHolder {
  position: absolute;
  left: calc(50% - 20px);
  font-size: 0;
}

.messengerPage__search:focus + .viInput__placeHolder {
  font-size: 13px;
}

.messengerPage__chatList {
  list-style: none;
  padding-left: 0;
}

.messengerPage__chatWindow {
  display: flex;
  width: 100%;
}

.messengerPage__chatWindow {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.chatWindow__navigate,
.chatWindow__messageSection {
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.chatWindow__navigate {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.chatWindow__messageSection {
  border-top: 1px solid var(--border-color);

  form {
    display: flex;
    width: 100%;
  }
}

.chatWindow__chat {
  flex: 1;
  display: flex;
}

.chatWindow__companionProfile,
.chatWindow__setting {
  display: flex;
  align-items: center;
}

.messengerPage__avatar {
  min-width: 47px;
  height: 47px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  margin-right: 10px;
}


