<a href="#" data-page="nav" class="profilePage__back">
  <--
</a>
<div>
  <input type="text" id="dataInput" placeholder="Введите данные" />
  <button id="sendData">Отправить</button>
</div>
<div>
  <h3>Полученные данные:</h3>
  <p id="displayData">{{data}}</p>
</div>
