<main class="signInPage basePage vertical">
  {{#>Form}}
    {{>FormBody form=form}}

    {{#*inline "FormActions"}}
      {{> Button label="Зарегистрироваться" type="primary" }}

      <a href="#" data-page="login" class="home homeButton">
        войти
      </a>
    {{/inline}}
  {{/Form}}
</main>
