<main class="notFoundPage basePage vertical">
  <h1>404</h1>

  {{#Typography as="p" style="text-xl"}}не туда попали{{/Typography}}

  <a href="#" data-page="nav" class="homeButton">Назад к чатам</a>
</main>